// info block

.info {
    background: #F7FAFC;
    border: 1px solid #F7FAFC;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 17px;
    padding-bottom: 11px;
    margin-bottom: 16px;
    p {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #222222;
    }
}