// pagination

.pagination {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pagination__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    padding: 4px 9px;
    margin: 0 3px;
    transition: all 0.3s;
    svg {
        transition: all 0.3s;
        flex-shrink: 0;
    }
    &:hover {
        background: #30A6CA;
        border-radius: 4px;
        color: #fff;
        transition: all 0.3s;
        svg {
            transition: all 0.3s;
            path {
                fill: #fff;
            }
        }
    }

}

.pagination__link.active {
        background: #30A6CA;
        border-radius: 4px;
        color: #fff;
}

.pagination__prev {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    background: #fff;
    margin-right: 24px;
}

.pagination__dots {

}

.pagination__links {
    display: flex;
    align-items: center;
    border-radius: 57px;
    background-color: #fff;
    padding: 0 7px;
}


.pagination__next {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    background: #fff;
    margin-left: 24px;
}